body {
    margin: 0;
}

#grid {
    height: 100vh;
    transition: 500ms;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3px;
}

.left {
    background-image: url(image/left.jpg);
}

.center {
    background-image: url(image/center.jpg)
}

.right {
    background-image: url(image/right.jpg)
}

:where(.left, .center, .right) {
    transition: 300ms;
}

/* :where(.left, .center, .right):hover {
} */


#grid:has(.left:hover) {
    grid-template-columns: 2fr 0.5fr 0.5fr;
}

#grid:has(.center:hover) {
    grid-template-columns: 0.5fr 2fr 0.5fr;
}

#grid:has(.right:hover) {
    grid-template-columns: 0.5fr 0.5fr 2fr;
}